/* It is recommended to place all your extra/additional CSS rules here */
#left-sidebar .logo .img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
}
.fil3, .fil2 { fill:white !important;}
label {
 font-weight: 600;
}
input:checked + span {
    color: steelblue;
    font-weight: bold;
}
